*.bak
*.orig
IR/*.
Utilities/Doom RPG Launcher/*.suo
Utilities/Doom RPG Launcher/obj
Utilities/Doom RPG Launcher/bin
Utilities/GDCC
Utilities/Python
Utilities/AStyle
DoomRPG/GAMEINFO.txt
DoomRPG/acs/DoomRPG.lib
